asgiref==3.4.1
black==22.8.0
certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Django==3.2.18
django-cors-headers==3.10.1
django-dotenv==1.4.2
idna==3.4
importlib-metadata==4.8.3
mypy-extensions==1.0.0
pathspec==0.9.0
pkg-resources==0.0.0
platformdirs==2.4.0
pytz==2023.3
requests==2.27.1
sqlparse==0.4.4
tomli==1.2.3
typed-ast==1.5.4
typing-extensions==4.1.1
urllib3==1.26.15
zipp==3.6.0
